#Hour {
  display: contents;
  font-size: 20vh;
}

#Seprator {
  display: inline;
  font-size: 20vh;
}

#Minutes {
  display: inline;
  font-size: 20vh;
}

#Seconds {
  display: inline;
  font-size: 20vh;
  margin-left: 50px;
}

#tt {
  display: inline;
  font-size: 20vh;
}