#Hour {
  display: contents;
  font-size: 150px;
}

#Seprator {
  display: inline;
  font-size: 150px;
}

#Minutes {
  display: inline;
  font-size: 150px;
}

#Seconds {
  display: inline-block;
  font-size:  100px;
  margin-left: 50px;
  width: 150px;
}

#tt {
  display: inline;
  font-size: 100px;
}